body {background-color: rgb(230,230,230);}

h4#instruction {background-color:rgba(253, 139, 139, 0.973); 
    color:rgb(0, 0, 0);
    position: fixed;
    top: 0px;
    width: 50%;
    left: 25%;
    padding: 10px;
}

h3#targetText {background-color: rgb(199, 199, 199);
    position: fixed;
    top: 17%;
    height: 25%;
    width: 50%;
    left: 25%;
    padding: 10px;
}

#typedText {background-color: rgb(211,237,199);
    position: fixed;
    top: 50%;
    height: 25%;
    width: 50%;
    left: 25%;
    padding: 10px;
}

#startBox {background-color: rgb(199, 199, 199);
    position: fixed;
    top: 85%;
    width: 10%;
    left: 40%;
    padding: 10px;
    text-align: center;
}
